<mat-sidenav-container *ngIf="userLoggedIn" class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidebar-header">
      <img src="assets/ECOUBICA2-LOGO.png" alt="" class="logo">
    </div>
    <mat-nav-list>

      <button *ngFor="let i of menuItems" [routerLink]="i.path" class="highlighted-option">
        <mat-list-item>
          <mat-icon>{{i.icon}}</mat-icon>
          <span style="font-weight: bold;">{{i.title}}</span>
        </mat-list-item>
      </button>

      <ngx-spinner bdColor = "rgba(0,0,0,0.8)" size = "medium" color = "#fff" type = "ball-8bits" [fullScreen] = "true"><p style="color: white" > </p></ngx-spinner>

      <div class="div" *ngIf="!userLoggedIn">
        <div class="spacer"></div>
        <button [routerLink]="'/login'" class="highlighted-option">
          <mat-list-item>
            <mat-icon>accessibility</mat-icon>
            <span>Iniciar Sesión</span>
          </mat-list-item>
        </button>
        <button *ngIf="!userLoggedIn" [routerLink]="'/register'" class="highlighted-option">
          <mat-list-item>
            <mat-icon>assignment</mat-icon>
            <span>Registrarse</span>
          </mat-list-item>
        </button>
      </div>
      <div class="div" *ngIf="userLoggedIn">
        <div class="spacer"></div>

        <button (click)="logout()" class="highlighted-option">
          <mat-list-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>Cerrar Sesión</span>
          </mat-list-item>
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
