.reportes-container {
    height: 80vh;
    max-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--color-cuaternary);
    border-radius: 10px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando el contenido desborda la altura máxima */
}

button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    /* Espacio entre los botones */
}

.listado-reportes {
    margin-top: 20px;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-heading-custom {
    /* Estilos personalizados para el encabezado del tab */
    font-size: 20px;
    color: #000000; /* Color del texto */
    background-color: #ffffff; /* Color de fondo */
    padding: 20px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
}

.listado-reportes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mat-card {
    flex: 0 0 calc(30% - 20px); /* Ajusta el ancho según la cantidad de elementos por fila */
    margin-bottom: 20px; /* Espacio entre las filas */
    min-width: 300px; /* Tamaño mínimo horizontal para cada mat-card */
    min-height: 200px;
    max-width: 30%; /* Ancho máximo para cada mat-card */
}