#map {
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  width: 80%;
  height: 70vh;
}

#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#spacer {
  height: 80px;
}

.row {
  display: flex;  /* Usa flexbox para organizar los elementos en fila */
  align-items: center;  /* Alinea verticalmente los elementos en el centro */
  gap: 10px;  /* Espacio entre elementos */
}

.legend-item {
  display: flex;  /* Los elementos dentro de legend-item también se organizan en fila */
  align-items: center;  /* Alinea verticalmente los elementos en el centro */
  gap: 5px;  /* Espacio entre la imagen y el texto */
}


#button-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-top: 10px; /* Espacio superior para separar los botones del mapa */
}

button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px; /* Espacio entre los botones */
}

/* Estilos para centrar el modal */
.centered-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Ajustes específicos para el modal */
.modal {
  z-index: 1051; /* Asegúrate de que el modal aparezca encima del fondo */
}

#remove-marker-button{
  background-color: var(--color-danger);
}

#add-marker-button{
    background-color: var(--color-primary);
}

#remove-marker-button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

#add-marker-button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

img {
  width: auto;
  height: 32px;
}

#report-button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

#reportButton{
  background-color: var(--color-danger);
}