<div class="index">
  <div class="welcome mt-5">
    <h1>Bienvenido a EcoUbica</h1>
    <p>Tu lugar para el cuidado del medio ambiente y puntos verdes.</p>
  </div>
  <div class="spacer"></div>
  <div class="div">
    <h1>¿Que es EcoUbica?</h1>
  </div>
  <div class="row mt-5">
    <div class="col col-md-4">
      <div class="div">
        <h2>Mision</h2>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident eaque accusamus fugit minus. Ad architecto ex et totam dolor neque autem officiis, omnis incidunt perferendis. Eius fuga molestias dolores recusandae.</p>
    </div>
    <div class="col col-md-4">
      <div class="div">
        <h2>Vision</h2>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident eaque accusamus fugit minus. Ad architecto ex et totam dolor neque autem officiis, omnis incidunt perferendis. Eius fuga molestias dolores recusandae.</p>
    </div>
    <div class="col col-md-4">
      <div class="div">
        <h2>Objetivo</h2>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident eaque accusamus fugit minus. Ad architecto ex et totam dolor neque autem officiis, omnis incidunt perferendis. Eius fuga molestias dolores recusandae.</p>
    </div>
  </div>
</div>
