@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh;
  background-color: #fff;
}

.index {
  width: 50vw;
  color: #000000;
  max-width: 100%; /* Asegúrate de que el contenido no exceda el ancho del contenedor */
}
